In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
import nltk
import string
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet as wn
from tqdm import tqdm

In [2]:
finaldf=pd.read_csv('./finaldf.csv')
listings=pd.read_csv('./')

In [3]:
finaldf.head()

,index,listing_id,id,date,reviewer_id,reviewer_name,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text,sentiment_score
0,0,2515,198,2008-10-13,2603,Jenny,4.0,0.6866,"great, place, stay, location, host, clean, rec...",Stephanie was a wonderful host! Her apartment ...,0.9357
1,1,2515,859,2009-03-08,8455,Roland,2.0,0.4246,"stay, place, make, feel, home, time, thank, ba...",Such a wonderful place and very close to the m...,0.9727
2,2,2515,1083,2009-03-25,9759,Cem,2.0,0.4472,"stay, place, make, feel, home, time, thank, ba...",I just got back from a trip to NYC during whic...,0.9620
3,3,2515,1107,2009-03-27,9193,Holly,2.0,0.5302,"stay, place, make, feel, home, time, thank, ba...",Stephanie's offered all the most important thi...,0.9626
4,4,2515,2175,2009-05-09,7048,Alessandra,4.0,0.4902,"great, place, stay, location, host, clean, rec...","Stephanie was really nice, ftiendly and helpfu...",0.9335

In [4]:
finaldf[finaldf['sentiment_score']<0]

,index,listing_id,id,date,reviewer_id,reviewer_name,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text,sentiment_score
26,26,2515,77637,2010-08-13,183527,Yutaro,1.0,0.7988,"host, day, night, arrival, check, apartment, g...",The host cancelled my reservation,-0.2500
56,56,2515,760569,2011-12-03,1358563,Katherine,0.0,0.4659,"close, walk, subway, apartment, restaurant, gr...",Stephanie made us feel right at home! The week...,-0.4199
79,79,2515,5613012,2013-07-08,6837286,Arjun,2.0,0.3832,"stay, place, make, feel, home, time, thank, ba...",It was a decent location. People who want to v...,-0.2280
173,173,2515,350116678,2018-11-18,162106712,Federico,0.0,0.4503,"close, walk, subway, apartment, restaurant, gr...",The accommodation exceeded my expectations by ...,-0.2023
241,241,5216,18436,2009-11-27,51224,Paula,1.0,0.7265,"host, day, night, arrival, check, apartment, g...",Our stay was disappointing as we did not stay ...,-0.9570
...,...,...,...,...,...,...,...,...,...,...,...
346666,346849,30856884,364900950,2018-12-31,105123350,Corey,1.0,0.7861,"host, day, night, arrival, check, apartment, g...",Find a different room I’m not one to normally ...,-0.1901
346703,346886,30901275,362487143,2018-12-26,218963950,Nicky,3.0,0.7043,"room, good, clean, bed, apartment, bathroom, n...",Details was missing from advertising where the...,-0.0258
346739,346922,30926919,362116807,2018-12-25,130241163,Ira,1.0,0.6071,"host, day, night, arrival, check, apartment, g...","The apartment is near the subway station, whic...",-0.7003
346779,346962,30940476,367311167,2019-01-04,3143497,Marquett,1.0,0.9269,"host, day, night, arrival, check, apartment, g...",Internet was off and not working when we arriv...,-0.5267
346867,347050,31055440,365585063,2019-01-01,121880623,Mariana,1.0,0.5920,"host, day, night, arrival, check, apartment, g...",The department is a local street now used to r...,-0.9905